* {
    box-sizing: border-box;
}

:root {
    --color-black: #1a1a1a;
    --color-yellow: #d9b38c;
    --color-blue: #7a9eb8;
    --color-magenta: #c69fc3;
    --color-white: #cccccc;
}

@font-face {
    font-family: "CodeNewRoman";
    src: url("/code-new-roman.woff2") format("woff2");
}

a {
    color: var(--color-blue);
    text-decoration: none;
}

a:hover {
    opacity: .5;
}

body {
    font-family: CodeNewRoman, monospace;
    background: var(--color-black);
    color: var(--color-white);
    max-width: 50rem;
    margin: 0 auto;
    padding: 1rem;
}

.hidden {
    visibility: hidden;
}

.command-line {
    display: flex;
}

.ps1 {
    display: flex;
    gap: .5rem;
    margin: 0 .5rem 0 0;
}

.ps1-user {
    color: var(--color-yellow);
}

.ps1-cwd {
    color: var(--color-blue);
}

.ps1-sign {
    color: var(--color-magenta);
}

.command {
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    width: 0;
}

.cursor {
    width: 1ch;
    background: var(--color-white);
}

.blinking {
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    50% {
        visibility: hidden;
    }
}
